/* FOGLIO DI STILE */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url("img/unnamed.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
main {
  display: flex;
}

/* HEADER ------------------------------------ */

header{
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  border-bottom: 2px solid black;
}
header h1 {
  text-align: center;
  color: red;
  font-size: 60px;
  font-weight: bold;
}

h4 {
  text-align: center;
  margin-top: 20px;
}

/* CALCOLATORE ---------------- */
#calcolatore {
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 500px;
  margin-top: 200px;
  border: 5px solid black;
}

input, select, button {
  width: 100%;
  height: 50px;
}

#genera {
  background-color: rgb(27, 74, 195);
  color: white;
  font-weight: bold;
}

#annulla {
  background-color: rgb(233, 48, 42);
  color: white;
  font-weight: bold;
}

/* BIGLIETTO ------------------------------------- */

/* generale */
#biglietto {
  display: flex;
  width: 50%;
  margin-top: 200px;
  border: 5px solid black;
  opacity:0;
  transition:  2s all;
}

/* informazione cliente */
#infocliente {
  position: relative;
  width: 25%;
  padding-left: 20px;
  border-right: 2px dashed black;
  background-color: rgba(249, 177, 103, 0.55);
}
#infocliente h2 {
  margin-top: 30px;
  color: rgb(89, 89, 89);
}

#infocliente h3 {
  margin-top: 20px;
  color: rgb(4, 1, 121);
}

.spazioinput {
  height: 50px;
}

#qrcode {
  position: absolute;
  width: 120px;
  height: 120px;
  right: 10px;
  bottom: 10px;
}

/* informazione treno */
#infotreno {
  width: 75%;
  background-image: linear-gradient(rgba(218, 59, 31, 0.48), rgba(227, 136, 15, 0.63));
}

#infotreno table {
  width: 100%;
  margin-top: 20px;
}

#infotreno th {
 font-size: 30px;
 width: 25%;
}

#infotreno td {
  width: 25%;
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
}


/* JAVASCRIPT CSS------------------------- */

.escilo {
  opacity: 1!important;
}
